:root {
    --color-darkblue: #1D2130;
    --color-darkpurple: #1E1A4E;
    --color-purple: #3A3A72;
    --color-lightpurple: #64749C;

    --color-black: #000;
    --color-grey: #767676;
    --color-white: #fff; 

    --fonte-titulo: "Jaro", sans-serif;
    --fonte-principal: "Mirza", serif;
}

/* Tags Globais */ 
p {
    font-size: 1.2rem;
}

.sub01 {    /* Versão01 Estilo Subtítulo */ 
    color: var(--color-darkblue);
    margin-left: 10%;
    margin-top: 5%;
}

.linha-sub01 { /* Versão01 Estilo Linha-Subtítulo */
    display: inline-block;
    width: 5%;
    height: 2px;
    background-color: var(--color-darkblue);
    vertical-align: middle; 
    margin-right: 10px;
}

.tit01 {    /* Versão01 Estilo Título */
    font-size: 2.5rem;
    margin-left: 15%;
}

.sub02 {    /* Versão02 Estilo Subtítulo */ 
    color: var(--color-darkblue);
    margin-left: 40%;
    margin-top: 5%;
}

.linha-sub02 { /* Versão02 Estilo Linha-Subtítulo */
    display: inline-block;
    width: 5%;
    height: 2px;
    background-color: var(--color-darkblue);
    vertical-align: middle; 
    margin-right: 10px;
}

.tit02 {    /* Versão02 Estilo Título */
    font-size: 2.5rem;
    text-align: center;
}

.sub-tit01 {
    text-align: center;
}





.titulo {
    font-size: 2.5rem;
}

.subtitulo {
    color: var(--color-darkblue);
    margin-bottom: 20px;
}
.linha-subtitulo {
    display: inline-block;
    width: 5%;
    height: 2px;
    background-color: var(--color-darkblue);
    vertical-align: middle; 
    margin-right: 10px; 
}


.container-home {
    font-family: var(--fonte-principal);
}

.fundo {
    width: 100%;
    height: 80vh;
}

.conteudo-fundo {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.conteudo-fundo h1 {
    font-family: var(--fonte-titulo);
    color: var(--color-white);
    font-size: 3.5rem;
    letter-spacing: 5px;
}
.conteudo-fundo h4 {
    font-size: 1.5rem;
    color: var(--color-white)
}

.btn01{
    background-color: white;
    color: black;
    font-family: 'Jaro', sans-serif;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
} 

.introducao {
    margin-top: 30px;
    margin-bottom: 30px;
}

.introducao-fundo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-fundo {
    max-width: 20%;
    margin-right: 10%;
    margin-left: 5%;
    
}

.intro-conteudo {
    margin-left: 10%;
}

/* Conteúdo Principal - Carrinhos Arduino */
.arduino {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--color-darkblue);
}

.subtitulo02 {
    color: var(--color-white);
    margin-bottom: 20px;
}
.linha-subtitulo02 {
    display: inline-block;
    width: 5%;
    height: 2px;
    background-color: var(--color-white);
    vertical-align: middle; 
    margin-right: 10px; 
}

.arduino-fundo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-arduino {
    max-width: 20%;
    margin-right: 10%;
    margin-left: 5%;
}

.arduino-img {
    max-width: 35%; /* Ajuste conforme necessário */
}


.arduino-fundo h1, h2{
    color: var(--color-white);
}

.arduino-fundo p {
    color: var(--color-white);
}

/* Conteúdo Eventos - Eventos */
.destaque {
    text-decoration: overline;
}

.container-eventos {
    margin-top: 5%;
    display: flex;
    align-items: center;
}

.conteudo-eventos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 11%;
    margin-bottom: 5%;
}

.circulo {
    width: 200px;
    height: 200px;
    background-color: var(--color-darkpurple);
    border-radius: 50%;

    display: flex; 
    justify-content: center; 
    align-items: center;
    overflow: hidden; 
}

.img-circulo {
    max-height: 100%;
    object-fit: cover;
}

.msg-circulo {
    margin-top: 10px;
    font-size: 1.5rem;
}

/* Conteúdo Anúncios - Anúncios */ 

.anuncio-img {
    margin-left: 15%;
}

.conteudo-anuncio {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(30%, 1700%);
    width: 60%; 
    text-align: center;
    margin-left: 0; 
} 

.anuncio-input {
    border: 1px solid var(--color-white);
    color: var(--color-white);
    background-color: transparent;
    padding: 10px 40px;
}

.anuncio-button {
    background-color: var(--color-white);
    border: none;
    padding: 11px 20px;
    cursor: pointer;
}

.conteudo-anuncio h1 {
    font-size: 2rem;
    color: var(--color-white);
}

.conteudo-anuncio span {
    display: block;
    color: var(--color-white);
}

/* Conteúdo Premiações - Premiações */
.container-premiacoes {
    margin-top: 2%;
    display: flex;
    align-items: center;
}
.conteudo-premiacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 11%;
    margin-bottom: 5%;
}

.premios-img {
    width: 320px;  /* Largura */
    height: 300px; /* Altura */
}

.conteudo-premiacoes {
    position: relative;
    width: 100%;
    max-width: 800px; /* Ajuste conforme necessário */
    margin: auto;
  }
  
  .premios-img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .texto-premiacoes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente para legibilidade */
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Ajuste conforme necessário */
  }
  
  .texto-premiacoes h2 {
    margin-top: 0;
  }
  
  .texto-premiacoes p {
    margin: 10px 0;
  }
  
  .texto-premiacoes button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .texto-premiacoes button:hover {
    background-color: #45a049;
  }
  
