:root {
    --color-darkblue: #1D2130;
    --color-darkpurple: #1E1A4E;
    --color-purple: #3A3A72;
    --color-lightpurple: #64749C;

    --color-black: #000;
    --color-grey: #767676;
    --color-white: #fff; 

    --fonte-titulo: "Jaro", sans-serif;
    --fonte-principal: "Mirza", serif;
}

* {
    text-decoration: none;
    list-style: none;
    color: black;
}

body {
    margin: 0;
    padding: 0;
}

/* Estilização Cabeçalho */ 
.container-header {
    font-family: var(--fonte-titulo);
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.container-header h1 {
    margin-left: 15px;
}

.container-header .navbar {
    display: flex;
}

.navbar ul, li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-right: 15px;
}

.active {
    font-weight: 900;
    text-decoration: underline;
    text-underline-offset: 8px; 
    text-decoration-thickness: 2px; 
    font-weight: bold;
}





