* {
    margin: 0;
    padding: 0;
}

:root {
    --color-darkblue: #1D2130;
    --color-darkpurple: #1E1A4E;
    --color-purple: #3A3A72;
    --color-lightpurple: #64749C;

    --color-black: #000;
    --color-grey: #767676;
    --color-white: #fff; 
}


/* Estilização Cabeçalho */ 
.container-header {
    display: flex;
    align-items: center;
} 

.container-header nav, ul, li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.btn-login {
    background-color: var(--color-darkblue);
    color: var(--color-white);
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}




